<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ExpressiveAnnotations</title>
        <link rel="stylesheet" href="~/Content/Site.css" />
    </head>
    <body>
        <div id="body">
            <section class="content-wrapper">
                @RenderBody()
            </section>
        </div>
    </body>
</html>
