<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ExpressiveAnnotations</title>
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <div id="body">
            <section class="content-wrapper">
                @RenderBody()
            </section>
        </div>
        
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
