@{
    var clientLabel = "client".Equals(ViewBag.Validation) ? "[client]" : "client";
    var serverLabel = "server".Equals(ViewBag.Validation) ? "[server]" : "server";
}
<div>
    change validation type by including or excluding client side scripts and test it:
    <a href="@Url.Action("SetValidation", "System", new { type = "client", returnUrl = Request.RawUrl }, null)">@clientLabel</a>
    <a href="@Url.Action("SetValidation", "System", new { type = "server", returnUrl = Request.RawUrl }, null)">@serverLabel</a>
</div>
