body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

#body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.prefix {
    width: 170px;
}

.action {
    cursor: pointer;
    display: block;
    margin: 0;
    color: grey;
}

select {
    width: 117px;
}

.box {
    position: relative;
    height: 40px;
    width: 100%;
}

.box-small {
    position: relative;
    height: 35px;
    width: 65%;
    float: right;
}

    .box-small div {
        text-align: right;
        width: 100%;
    }

.left-corner {
    position: absolute;
    left: 0;
    bottom: 0;
}

.right-corner {
    position: absolute;
    right: 0;
    bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

.code {
    background-color: whitesmoke;
    display: none;
}

a {
    text-decoration: none;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 980px;
}

fieldset {
    margin: 0;
    padding: 10px;
}

fieldset legend {
    font-size: 1.3em;
    font-weight: 600;
}

fieldset ol {
    margin-top: 13px;
    padding: 0;    
    list-style: none;
}

fieldset ol li {
    padding-bottom: 5px;
}

label {    
    display: block;
    font-weight: 600;
}

label, select {
    font-size: 1.0em;
}

.inline {
    display: inline-block;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 280px;
}

input:focus, textarea:focus {
    border: 1px solid #7ac0da;
}

input[type="checkbox"],
input[type="radio"] {
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
button {
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-weight: 600;
    padding: 5px;
    margin-right: 8px;
    width: auto;
}

.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.message-success {
    color: #51b421;
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.error {
    color: #e80c4d;
}

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
    padding-left: 5px;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
}

.ctor {
    font-weight: bold;
    font-size: 1.4em;
}